/**
 * @name CustomFonts
 * @version 1.0
 * @author Shadax
 * @authorId 652878644087357460
 * @description Changes Discords Default Font.
 * @website https://github.com/ShadaxsRepo/Misc
 * @source https://raw.githubusercontent.com/ShadaxsRepo/Misc/main/Imports/CustomFonts/Main/FontList.txt
*/

/*                                  List Of All Different Fonts                                  */
/* https://raw.githubusercontent.com/ShadaxsRepo/Misc/main/Imports/CustomFonts/Main/FontList.txt */

@import url("https://cdn.jsdelivr.net/gh/ShadaxsRepo/Misc@main/Imports/CustomFonts/Main/AllFonts.css");

/* Default Line Height = 1.375rem */

:root {
	--font-primary: 'Open Sans', sans-serif !important;
	--font-size: 100% !important;
	--letter-spacing: 0em !important;
	--line-height: 1.375rem !important;
}
